.room-container {
  text-align: center;

  ul {
    list-style: none;
    padding: 4px;
    text-align: left;

    .room {
      color: white;
      font-weight: 400;
    }
    .active {
      color: blue;
    }

  }
}

